@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto//Roboto-Regular-webfont.eot');
	src: url('../fonts/roboto//Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto//Roboto-Regular-webfont.woff') format('woff'),
	url('../fonts/roboto//Roboto-Regular-webfont.ttf') format('truetype'),
	url('../fonts/roboto//Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto//Roboto-Medium-webfont.eot');
	src: url('../fonts/roboto//Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto//Roboto-Medium-webfont.woff') format('woff'),
	url('../fonts/roboto//Roboto-Medium-webfont.ttf') format('truetype'),
	url('../fonts/roboto//Roboto-Medium-webfont.svg#robotoregular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto//Roboto-Bold-webfont.eot');
	src: url('../fonts/roboto//Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto//Roboto-Bold-webfont.woff') format('woff'),
	url('../fonts/roboto//Roboto-Bold-webfont.ttf') format('truetype'),
	url('../fonts/roboto//Roboto-Bold-webfont.svg#robotoregular') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stepp ITC Std';
    src: url('../fonts/SteppITCStd/SteppITCStd-Bold.eot');
    src: url('../fonts/SteppITCStd/SteppITCStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SteppITCStd/SteppITCStd-Bold.woff2') format('woff2'),
        url('../fonts/SteppITCStd/SteppITCStd-Bold.woff') format('woff'),
        url('../fonts/SteppITCStd/SteppITCStd-Bold.ttf') format('truetype'),
        url('../fonts/SteppITCStd/SteppITCStd-Bold.svg#SteppITCStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stepp ITC Std';
    src: url('../fonts/SteppITCStd/SteppITCStd-Medium.eot');
    src: url('../fonts/SteppITCStd/SteppITCStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SteppITCStd/SteppITCStd-Medium.woff2') format('woff2'),
        url('../fonts/SteppITCStd/SteppITCStd-Medium.woff') format('woff'),
        url('../fonts/SteppITCStd/SteppITCStd-Medium.ttf') format('truetype'),
        url('../fonts/SteppITCStd/SteppITCStd-Medium.svg#SteppITCStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DM_Sans/DMSans-Bold.eot');
    src: url('../fonts/DM_Sans/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DM_Sans/DMSans-Bold.woff2') format('woff2'),
        url('../fonts/DM_Sans/DMSans-Bold.woff') format('woff'),
        url('../fonts/DM_Sans/DMSans-Bold.ttf') format('truetype'),
        url('../fonts/DM_Sans/DMSans-Bold.svg#DMSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DM_Sans/DMSans-Regular.eot');
    src: url('../fonts/DM_Sans/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DM_Sans/DMSans-Regular.woff2') format('woff2'),
        url('../fonts/DM_Sans/DMSans-Regular.woff') format('woff'),
        url('../fonts/DM_Sans/DMSans-Regular.ttf') format('truetype'),
        url('../fonts/DM_Sans/DMSans-Regular.svg#DMSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DM_Sans/DMSans-Medium.eot');
    src: url('../fonts/DM_Sans/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DM_Sans/DMSans-Medium.woff2') format('woff2'),
        url('../fonts/DM_Sans/DMSans-Medium.woff') format('woff'),
        url('../fonts/DM_Sans/DMSans-Medium.ttf') format('truetype'),
        url('../fonts/DM_Sans/DMSans-Medium.svg#DMSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}